<div class="container">
  <div class="row pt-4">
    <!-- final game result -->
    <div class="col-md-8 mx-auto text-center">
      <div class="card border-primary mb-3">
        <div class="card-header">{{resultMessage}}</div>
        <div class="card-body">
          <h2 class="card-title"><strong>{{player1}}</strong> - <strong>{{player2}}</strong></h2>
          <h1 class="card-title"><strong>{{result}}</strong></h1>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- comment on game -->
    <div class="col-md-4 mx-auto">
      <div class="card border-info mb-3">
        <div class="card-header">Review the Game!</div>
        <div class="card-body">
          <fieldset>
            <app-star-rating [subject]="'game'" (gameRated)="onGameRated($event)"></app-star-rating>
            <div class="form-group">
              <textarea class="form-control" id="gameCommentInput" rows="3" placeholder="add a comment!"
                        [disabled]="!gameComment.rating" [(ngModel)]="gameComment.text"></textarea>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
    <!-- middle buttons -->
    <div class="col-md-4 mx-auto text-center d-flex align-items-center">
      <div class="container">
        <button class="btn btn-primary btn-lg" (click)="toStartPage()">PLAY AGAIN</button>
        <br>
        <hr>
        <button class="btn btn-secondary btn-lg" id="feedback-btn" [disabled]="!playerComment.rating && !gameComment.rating"
                (click)="sendFeedback()" data-toggle="modal" data-target="#messageModal">send feedback
        </button>
      </div>
    </div>
    <!-- comment on player -->
    <div class="col-md-4 mx-auto" id="player-comment-div">
      <div class="card border-warning mb-3">
        <div class="card-header" *ngIf="!this.opponent.startsWith('guest')">Comment on Your Opponent!</div>
        <div class="card-header" *ngIf="this.opponent.startsWith('guest')">Comment on guests is unavailable</div>
        <div class="card-body">
          <fieldset>
            <app-star-rating [subject]="'player'" (playerRated)="onPlayerRated($event)"></app-star-rating>
            <div class="form-group">
              <textarea class="form-control" id="playerCommentInput" rows="3" placeholder="add a comment!"
                        [disabled]="!playerComment.rating" [(ngModel)]="playerComment.text"></textarea>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- message modal -->
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="messageModalLabel">Sent successfully</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="disableButton()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-dismissible alert-success">Thanks for your feedback. It will help us improve the game.</div>
      </div>
    </div>
  </div>
</div>
