<div class="container">
  <div class="row pt-4">
    <!-- final game result -->
    <div class="col-md-8 mx-auto text-center">
      <div class="card border-primary mb-3">
        <div class="card-header">Game Over!</div>
        <div class="card-body">
          <h2 class="card-title"><strong>Gholi</strong> - <strong>Javat</strong></h2>
          <h1 class="card-title"><strong>120</strong> : <strong>80</strong></h1>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- comment on game -->
    <div class="col-md-4 mx-auto">
      <div class="card border-warning mb-3">
        <div class="card-body">
          <fieldset>
            <div class="form-group">
              <label for="gameRatingInput">star rating:</label>
              <input type="text" class="form-control" id="gameRatingInput">
            </div>
            <div class="form-group">
              <label for="gameCommentInput">add a comment</label>
              <textarea class="form-control" id="gameCommentInput" rows="3"></textarea>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
    <!-- middle buttons -->
    <div class="col-md-4 mx-auto text-center d-flex align-items-center">
      <div class="container">
        <button class="btn btn-primary btn-lg">PLAY AGAIN</button>
        <br><hr>
        <button class="btn btn-secondary btn-lg">send feedback</button>
      </div>
    </div>
    <!-- comment on player -->
    <div class="col-md-4 mx-auto">
      <div class="card border-warning mb-3">
        <div class="card-body">
          <fieldset>
            <div class="form-group">
              <label for="playerRatingInput">star rating:</label>
              <input type="text" class="form-control" id="playerRatingInput">
            </div>
            <div class="form-group">
              <label for="playerCommentInput">add a comment</label>
              <textarea class="form-control" id="playerCommentInput" rows="3"></textarea>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>
