<div>
  <fieldset class="rating">
    <input (click)="rate(5)" type="radio" id="{{subject}}star5" name="{{subject}}rating" value="5" /><label class = "full" for="{{subject}}star5"></label>
    <input (click)="rate(4.5)" type="radio" id="{{subject}}star4half" name="{{subject}}rating" value="4 and a half" /><label class="half" for="{{subject}}star4half"></label>
    <input (click)="rate(4)" type="radio" id="{{subject}}star4" name="{{subject}}rating" value="4" /><label class = "full" for="{{subject}}star4"></label>
    <input (click)="rate(3.5)" type="radio" id="{{subject}}star3half" name="{{subject}}rating" value="3 and a half" /><label class="half" for="{{subject}}star3half"></label>
    <input (click)="rate(3)" type="radio" id="{{subject}}star3" name="{{subject}}rating" value="3" /><label class = "full" for="{{subject}}star3"></label>
    <input (click)="rate(2.5)" type="radio" id="{{subject}}star2half" name="{{subject}}rating" value="2 and a half" /><label class="half" for="{{subject}}star2half"></label>
    <input (click)="rate(2)" type="radio" id="{{subject}}star2" name="{{subject}}rating" value="2" /><label class = "full" for="{{subject}}star2"></label>
    <input (click)="rate(1.5)" type="radio" id="{{subject}}star1half" name="{{subject}}rating" value="1 and a half" /><label class="half" for="{{subject}}star1half"></label>
    <input (click)="rate(1)" type="radio" id="{{subject}}star1" name="{{subject}}rating" value="1" /><label class = "full" for="{{subject}}star1"></label>
    <input (click)="rate(0.5)" type="radio" id="{{subject}}starhalf" name="{{subject}}rating" value="half" /><label class="half" for="{{subject}}starhalf"></label>
  </fieldset>
</div>
