<div class="row mt-5">
  <div class="col-md-8 mx-auto">
    <div class="card border-primary mb-3">
      <div class="card-body">

        <!-- top nav tabs -->
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active show" data-toggle="tab" href="#users">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link show" data-toggle="tab" href="#games">Games</a>
          </li>
        </ul>
        <div class="tab-content">
          <!-- users' comments -->
          <div class="tab-pane fade active show" id="users">
            <div *ngIf="userComments.length == 0"><br><p>No comments to display!</p></div>
            <div class="card" *ngFor="let uc of userComments">
              <div class="card-body">
                <h5 class="card-title">{{uc.commenter}} on {{uc.subject}}</h5>
                <p class="card-text">{{uc.text}}</p>
                <button class="btn btn-success" (click)="confirmComment(uc._id, 'user')">Confirm</button>
                <button class="btn btn-danger" (click)="deleteComment(uc._id, 'user')">Remove</button>
              </div>
            </div>
          </div>
          <!-- games' comments -->
          <div class="tab-pane fade" id="games">
            <div *ngIf="gameComments.length == 0"><br><p>No comments to display!</p></div>
            <div class="card" *ngFor="let gc of gameComments">
              <div class="card-body">
                <h5 class="card-title">{{gc.commenter}} on {{gc.subject}}</h5>
                <p class="card-text">{{gc.text}}</p>
                <button class="btn btn-success" (click)="confirmComment(gc._id, 'game')">Confirm</button>
                <button class="btn btn-danger" (click)="deleteComment(gc._id, 'game')">Remove</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
