<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active show" data-toggle="tab" href="#users">Users</a>
  </li>
  <li class="nav-item">
    <a class="nav-link show" data-toggle="tab" href="#games">Games</a>
  </li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active show" id="users">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Javat</h5>
        <p class="card-text">Abbass sucks</p>
        <button class="btn btn-success">Confirm</button>
        <button class="btn btn-danger">Remove</button>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Javat</h5>
        <p class="card-text">Abbass sucks</p>
        <button class="btn btn-success">Confirm</button>
        <button class="btn btn-danger">Remove</button>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="games">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Javat</h5>
        <p class="card-text">The game rocks</p>
        <button class="btn btn-success">Confirm</button>
        <button class="btn btn-danger">Remove</button>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Javat</h5>
        <p class="card-text">The game rocks</p>
        <button class="btn btn-success">Confirm</button>
        <button class="btn btn-danger">Remove</button>
      </div>
    </div>
  </div>
</div>
