a {
  margin-right: 5px
}

.red-bold {
  font-weight: bolder;
  color: red;
}

.black-normal {
  color: black;
}

#rules-panel strong {
  margin-left: 10%;
}

i {
  color: black;
  margin-right: 1px;
}

img {
  width: 40px;
  height: 40px;
  margin-right: 5%;
}
