div.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1%;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

footer a {
  color: white;
}
