<div class="container">
  <!-- top row : slider -->
  <div class="row">

  </div>

  <!-- bottom row -->
  <div class="row">
    <!-- left column : online users -->
    <div class="col-md-6">
      <div class="card border-primary mb-3">
        <div class="card-header">Online Users</div>
        <div class="card-body">
          <ul *ngIf="isGuest" class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let user of onlineUsers">
              {{user.username}} <span class="badge badge-success badge-pill">online</span>
            </li>
          </ul>
          <ul *ngIf="!isGuest" class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let user of onlineUsers">
              <a routerLink="/users/{{user.username}}" [ngClass]="user.isFriend ? 'red-bold' : 'black-normal'">{{user.username}}</a>
              <span class="badge badge-success badge-pill">online</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- right column : profile / play -->
    <div class="col-md-6">
      <div class="card bg-light mb-3">
        <div class="card-body">
          <h4 class="card-title text-center">Welcome {{selfUsername}} !</h4>
          <div class="col-12 text-center">
            <a class="btn btn-success" routerLink="/start">Play Now!</a>
          </div>
          <div *ngIf="isGuest">
            <h6 class="card-subtitle mb-2 text-muted text-center pt-3">or</h6>
            <p class="card-text">Have an account?! <a routerLink="/login" class="card-link">Login</a></p>
            <p class="card-text">Don't have an account?! <a routerLink="/register" class="card-link">Register</a></p>
          </div>
          <div *ngIf="!isGuest" class="text-center">
            <br><a routerLink="/users/{{selfUsername}}">my profile</a>
            <br><a routerLink="/users">view leaderboard</a>
            <br><a routerLink="/design">design a game!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
