<div class="container">
  <!-- top row : slider -->
  <div class="row">

  </div>

  <!-- bottom row -->
  <div class="row">
    <!-- left column : online users -->
    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Abbass
          <span class="badge badge-success badge-pill">online</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Javat
          <span class="badge badge-success badge-pill">online</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Gholi
          <span class="badge badge-success badge-pill">online</span>
        </li>
      </ul>
    </div>
    <!-- right column : profile / play -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-center">Welcome guest!</h4>
          <div class="col-12 text-center">
            <a class="btn btn-success" routerLink="/start">Play Now!</a>
          </div>
          <h6 class="card-subtitle mb-2 text-muted text-center pt-3">or</h6>
          <p class="card-text">Have an account?! <a routerLink="/login" class="card-link">Login</a></p>
          <p class="card-text">Don't have an account?! <a routerLink="/register" class="card-link">Register</a></p>
        </div>
      </div>
    </div>
  </div>

  <!-- admin only row -->
  <div class="row">
    <app-comments-confirm></app-comments-confirm>
  </div>
</div>
