<div class="container">

  <div class="row pt-3">
    <!-- top left : personal details -->
    <div class="col-md-6">
      <div class="card border-primary mb-3">
        <div class="card-header">
          <div class="row">
            <!-- profile picture -->
            <div class="col-md-5" *ngIf="personal.picture">
              <img class="rounded-circle img-thumbnail" alt="profile picture" width="180" height="180" [src]="personal.picture">
            </div>
            <!-- personal info -->
            <div class="col-md-7">
              <h4 class="card-title">@{{username}}
                <span *ngIf="personal.isOnline=='online'" class="badge badge-success badge-pill float-right">online</span>
                <span *ngIf="personal.isOnline=='offline'" class="badge badge-danger badge-pill float-right">offline</span>
              </h4>
              <p class="card-text">Name: {{personal.name}}
                <span *ngIf="personal.gender=='male'" class="badge badge-dark badge-pill float-right">♂</span>
                <span *ngIf="personal.gender!='male'" class="badge badge-dark badge-pill float-right">♀</span>
              </p>
              <p class="card-text">Birth date: {{personal.birthDate}}</p>
              <p class="card-text">email: {{personal.email}}</p>

              <button *ngIf="relation == 'notFriend'" (click)="requestFriend()" class="btn btn-primary float-right">friend request</button>
              <button *ngIf="relation == 'isFriend'" (click)="unfriend(id)" class="btn btn-outline-success float-right">friend</button>
              <button *ngIf="relation == 'pending'" (click)="unfriend(id)" class="btn btn-secondary float-right">requested</button>
              <button *ngIf="relation == 'myself'" routerLink="/editprofile" class="btn btn-info float-right">✎ edit profile</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- top right : friends details -->
    <div class="col-md-6">
      <div class="card border-success mb-3">
        <div class="card-header"><h5>Friends</h5></div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let friend of friends">
              <a routerLink="/users/{{friend.username}}" (click)="window.location.reload()">{{friend.username}}</a>
              <span *ngIf="friend.isOnline" class="badge badge-success badge-pill">online</span>
              <span *ngIf="!friend.isOnline" class="badge badge-danger badge-pill">offline</span>
              <span *ngIf="friend.pending" id="decision-span">
            <button class="btn btn-success" (click)="confirmFriend(friend._id)">accept</button>
            <button class="btn btn-danger" (click)="unfriend(friend._id)">decline</button>
          </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row pt-3">
    <!-- bottom left : play details -->
    <div class="col-md-6">
      <app-play-stats></app-play-stats>
    </div>
    <!-- bottom right : design details -->
    <div class="col-md-6">
      <app-design-stats></app-design-stats>
    </div>
  </div>

</div>
