body {
  background-image: url("http://joli.sitedev.online/repo/back.jpg");
  /* Full height */
  height: 100vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*margin: 0;*/
}
